.todo {
  background-color: black;
  height: 790px;
  padding: 100px;
}
.t-1 {
  background-color: white;
  width: 500px;
  height: 600px;
  overflow: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 430px;
  border-radius: 50px;
  border-style: solid;
  border-color: rgba(54, 192, 192, 0.575);
  border-width: 8px;
  color: rgba(54, 192, 192, 0.575);
  background-color: black;
}
::-webkit-scrollbar {
  width: 1px;
}

.t-1 input {
  border-style: solid;
  border-color: rgba(54, 192, 192, 0.575);
  background-color: black;
  width: 300px;
  height: 42px;
  margin-right: 40px;
  border-radius: 15px;
  padding-left: 20px;
  color: rgba(54, 192, 192, 0.575);
}
.t-1 input:hover {
  border-color: rgba(54, 192, 192, 0.575);
}

.t-1 button {
  background-color: black;
  border-style: solid;
  color: rgba(54, 192, 192, 0.575);
  border-color: rgba(54, 192, 192, 0.575);
  border-radius: 50%;
  width: 35px;
  font-size: 22px;
  margin-bottom: 10px;
}
.t-1 #button:hover {
  color: white;
}
ol {
  margin-top: 50px;
  text-decoration: none;
}
ol li {
  padding-left: 0;
  text-align: left;
  font-size: 23px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: rgba(54, 192, 192, 0.575);
  text-transform: capitalize;
}

.t-2 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.t-2 svg {
  margin: 30px;
}

.t-2 svg:hover {
  color: red;
}
.t {
  display: flex;
  justify-content: center;
}
